/*==================== GOOGLE FONTS ====================*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/*==================== VARIABLES CSS ====================*/
:root {
   --header-height: 4rem;

   /*========== Colors ==========*/
   /* Change favorite color */
   --hue-color: 210; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

   /* HSL color mode */
   /* --first-color: hsl(var(--hue-color), 69%, 61%); */
   --first-color:#2C3E50;
   --first-color-second: hsl(var(--hue-color), 39%, 31%);
   --first-color-alt: hsl(var(--hue-color), 57%, 53%);
   --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
   --title-color: hsl(var(--hue-color), 8%, 15%);
   --text-color: hsl(var(--hue-color), 8%, 45%);
   --text-color-light: hsl(var(--hue-color), 8%, 66%);
   --input-color: hsl(var(--hue-color), 70%, 96%);
   --body-color: hsl(var(--hue-color), 60%, 99%);
   --container-color: #FFF;
   --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
   --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

   /*========== Font and typography ==========*/
   --body-font: "Inter", sans-serif;
   
   /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
   --big-font-size: 2rem;
   
   --h1-font-size: 1.5rem;
   
   --h2-font-size: 1.25rem;
   --h3-font-size: 1.125rem;
   
   --normal-font-size: 0.938rem;
   --small-font-size: 0.813rem;
   --smaller-font-size: 0.75rem;

   /*========== Font weight ==========*/
   --font-thin: 100;
   --font-extra-light: 200;
   --font-light: 300;
   --font-normal: 400;
   --font-medium: 500;
   --font-semi-bold: 600;
   --font-bold: 700;
   --font-extra-bold: 800;
   --font-black: 900;

   /*========== Margenes Bottom ==========*/
   /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
   --mb-0-25: 0.25rem;
   --mb-0-5: 0.5rem;
   --mb-0-75: 0.75rem;
   --mb-1: 1rem;
   --mb-1-5: 1.5rem;
   --mb-2: 2rem;
   --mb-2-5: 2.5rem;
   --mb-3: 3rem;

   /*========== z index ==========*/
   --z-tooltip: 10;
   --z-fixed: 100;
   --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 768px) {
   :root {
      --big-font-size: 2.5rem;
      --h1-font-size: 1.75rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.875rem;
      --smaller-font-size: 0.813rem;
   }
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
   /* HSL color mode */
   --first-color-second: hsl(var(--hue-color), 30%, 8%);
   --title-color: hsl(var(--hue-color), 8%, 95%);
   --text-color: hsl(var(--hue-color), 8%, 75%);
   --input-color: hsl(var(--hue-color), 29%, 16%);
   --body-color: hsl(var(--hue-color), 28%, 18%);
   --container-color: hsl(var(--hue-color, 29%, 16%));
   --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
   --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

/*========== Button Dark/Light ==========*/
.nav__btns{
   display: flex;
   align-items: center;
}

.change-theme{
   font-size: 1.25rem;
   color: var(--title-color);
   margin-right: var(--mb-1);
   cursor: pointer;
}

.change-theme:hover{
   color: var(--first-color);
}

/*==================== BASE ====================*/
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html {
   scroll-behavior: smooth;
}

body {
   margin: 0 0 var(--header-height) 0;
   font-family: var(--body-font);
   font-size: var(--normal-font-size);
   background-color: var(--body-color);
   color: var(--text-color);
}

h1,
h2,
h3,
h4 {
   color: var(--title-color);
   font-weight: var(--font-bold);
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   text-align: left;
}

img {
   /* max-width: 100%; */
   height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/

.section {
   padding: 2rem 0 4rem;
}

.home__section{
   padding: 2rem 0 6rem;
}
.about__section{
   padding: 2rem 0 6rem;
}

.services__section{
   padding: 2rem 0 6rem;
}

.map__section{
   padding: 2rem 0 6rem;
}

.opinion__section{
   padding: 2rem 0 6rem;
}  

.section__title {
   
   font-size: var(--big-font-size);
    font-weight: var(--font-black);
    margin-top: 1rem;
    margin-bottom: var(--mb-1-5);
}

.section__subtitle {
   display: block;
   font-size: var(--small-font-size);
   margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
   text-align: center;
}

/*==================== LAYOUT ====================*/

.container {
   max-width: 768px;
   margin-left: var(--mb-3);
   margin-right: var(--mb-3);
}

.grid {
   display: grid;
   /* gap: 1.95rem; */
}

.header {
   width: 100%;
   position: fixed;
   bottom: 0;
   left: 0;
   z-index: var(--z-fixed);
   /* background-color: var(--first-color); */
   background-color:#435f7b;
}

/*==================== NAV ====================*/
.nav {
   max-width: 768px;
   height: var(--header-height);
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav__logo-img {
   width: 50px; /* Ajusta el tamaño según tus necesidades */
   /* margin-right: 0.5rem;  Espacio entre la imagen y el texto del logo 
   margin-top: 0.5rem; */
}

.nav__logo,
.nav__toggle {
   color: #FFF;
   font-weight: var(--font-bold);
   margin-left: 0.5rem;

}

.nav__logo:hover {
   color: #141d25;
}

.nav__toggle {
   font-size: 1.1rem;
   cursor: pointer;
}

.nav__toggle:hover {
   color: var(--first-color);
}

@media screen and (max-width: 767px) {
   .nav__menu {
      position: fixed;
      bottom: -100%;
      left: 0;
      width: 100%;
      background-color: #2c3e50;
      padding: 2rem 1.5rem 4rem;
      box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.15);
      border-radius: 1.4rem 1.5rem 0 0;
      transition: 0.3s;
   }
}

.nav__list {
   grid-template-columns: repeat(3, 10fr);
   gap: 2rem;
}

.nav__link {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   font-size: var(--normal-font-size);
   color: #FFF;
   font-weight: var(--font-bold);
}

.nav__link:hover {
   color: #141d25;
}

.nav__icon {
   font-size: 1.2rem;
}

.nav__close {
   position: absolute;
   right: 1.3rem;
   bottom: 0.5rem;
   font-size: 1.5rem;
   cursor: pointer;
   color: #FFF;
}

.nav__close:hover {
   color: var(--first-color-alt);
}

/* show menu */
.show-menu {
   bottom: 0;
}

/* Active link */
.active-link{
   color: #141d25;
}

/* Change background header */
.scroll-header{
   box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);

}


/*==================== HOME ====================*/

.home__container {
   gap: 1rem;
}

.home__content {
   /* grid-template-columns: 0.5fr 3fr; */
   padding-top: 1.5rem;
   align-items: center;
}

.home__social {
   display: flex; /* Cambia de inline-flex a flex */
   gap: 2rem;
   justify-content: flex-start; /* Alinea los íconos a la izquierda */
   margin-bottom: var(--mb-1-5);
   background-color: transparent;
   flex-wrap: wrap; /* Permite que los íconos se envuelvan en pantallas pequeñas */ 
}



.home__social-icon {
   font-size: 2.25rem;
   
   background-color: rgba(44, 62, 80, 0); 
}
.home__social-icon-img {
   width: 2.5rem; /* Ajusta el tamaño según tus necesidades */
   height: 2.5rem; /* Ajusta el tamaño según tus necesidades */
   display: block;
   border-radius: 0.5rem;
   filter: drop-shadow( 0 10px 5px rgba(0, 0, 0, 0.8));

   
}
.home__social-icon:hover {
   color: var(--first-color-alt);
}



.home__blob {
   width: 12.5rem;
   fill: var(--first-color);
}

.home__img {
   width: 20rem;
   border-radius: 0.5rem;
   justify-self: center;
   align-self: center;
   margin: 0 auto;
   background-color: transparent;
}

.home__data {
   grid-column: 1/2;
   
   
}

.home__header {
   display: flex;
   align-items: center; /* Alinea el rectángulo y el texto verticalmente */
   padding-top: 1rem;
}

.home__icon {
   width: 0.25rem; /* Ajusta el tamaño del rectángulo según sea necesario */
   height: 1.875rem; /* Ajusta el tamaño del rectángulo según sea necesario */
   background-color: #2c3e50; /* Color de fondo del rectángulo */   
   margin-right: 0.75rem; /* Espacio entre el rectángulo y el texto */
   
}

.home__span{
   
   font-size: var(--normal-font-size);
   color: var(--title-color);
   font-weight: var(--font-bold);
   
}

.home__actions {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1rem;
}


.home__title {
   font-size: var(--big-font-size);
   font-weight: var(--font-black);
   margin-top: 1rem;
}

.home__subtitle {
   font-size: var(--h1-font-size);
   color: var(--title-color);
   font-weight: var(--font-extra-bold);
   margin-bottom: var(--mb-0-75);
   
}

.home__description {
   margin-bottom: var(--mb-2-5);
   font-size: var(--h3-font-size);
   font-weight: var(--font-semi-bold);
   margin-top: var(--mb-1-5);
   
}



.home__scroll {
   display: none; 
}

.home__scroll-button {
   color: var(--first-color);
   transition: 0.3s;
}

.home__scroll-button:hover {
   transform: translateY(0.25rem);
}

.home__scroll-mouse {
   font-size: 2rem;
}

.home__scroll-name {
   font-size: var(--small-font-size);
   color: var(--title-color);
   font-weight: var(--font-medium);
   margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
   font-size: 1.25rem;
}

/*==================== BUTTONS ====================*/
.button {
   display: inline-block;
   background-color: var(--first-color); 
   /*background-color:#435f7b;*/
   color: #fff;
   padding: 1rem;
   border-radius: 0.95rem;
   font-weight: var(--font-semi-bold);
   cursor: pointer;
}

.button:hover {
   background-color: var(--first-color-second)
}

.button__icon {
   font-size: 1.25rem;
   margin-left: var(--mb-0-75);
   transition: 0.3s;
}

.button--white{
   background-color: #FFF;
   color: var(--first-color);
}

.button--white:hover{
   background-color: #FFF;
}
.button--flex--home {
   display: inline-flex;
   align-items: center;
   margin-top: 1.5rem;    
   margin-bottom: 1.5rem; 
   margin-right: 3rem;
   padding-top: 1rem; 
   padding-left: 1rem; 
   padding-bottom: 1rem; 
   padding-right: 1rem; 
   
}
.button--flex--cv {
   display: inline-flex;
   align-items: center;
   margin-top: 1.5rem; 
   margin-left: 3rem;
   margin-bottom: 1.5rem; 
   margin-right: 3rem;
   padding-top: 1rem;  
   padding-left: 1rem; 
   padding-bottom: 1rem; 
   padding-right: 1rem; 
  
}

.button--flex i {
   margin-left: .75rem; 
   
 }
.button--flex--map {
   display: inline-flex;
   align-items: center;
   margin-top: 2rem; 
   margin-left: 3rem;
   padding: 1.5rem 3.5rem 1.5rem 3.5rem;
}

.button--small{
   padding: .75rem 1rem;
}

.button--link{
   padding: 0;
   background: transparent;
   color: var(--first-color);
}

.button--link:hover{
   background: transparent;
   color: var(--first-color-alt);
}


/*==================== ABOUT ====================*/


.about__img {
   width: 15.625rem;
   border-radius: 0.5rem;
   /* justify-self: center; */
   align-self: flex-end;
   margin: 0 auto;
}



.about__title {
   font-size: var(--big-font-size);
   font-weight: var(--font-black);
   margin-top: 3rem;
}


.about__description {
   text-align: left;
   margin-top: var(--mb-2);
   font-size: var(--h3-font-size);
   font-weight: var(--font-semi-bold);
   margin-bottom: var(--mb-2);
}

.about__info{
   display: flex;
   justify-content: space-evenly;
   margin-bottom: var(--mb-2-5);
}

.about__info-title{
   font-size: var(--h2-font-size);
   font-weight: var(--font-semi-bold);
   color: var(--title-color);

}

.about__info-name{
   font-size: var(--smaller-font-size);
}

.about__info-title,
.about__info-name{
   display: block;
   text-align: center;
}

.about__buttons{
   display: flex;
   justify-content: center;
}

.about__container{
   gap: 1rem;
   /* grid-template-columns: repeat(4,1fr);
   margin-top: 2rem; */
   text-align: justify
}

.about__content{
   position: relative;
   
   padding: 2rem .5rem 2rem .5rem;
   border-radius: .25rem;
   
   transition: .3s;
}

.about__content:hover{
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.about__icon{
   display: flex;
   font-size: 1.5rem;
   color: var(--first-color);
   margin-bottom: var(--mb-1);
   justify-content: center;
}

.about-icon1-img {
   width: 4.688rem; /* Ajusta el tamaño de los íconos si es necesario */
   height: 7.5rem; /* Ajusta el tamaño de los íconos si es necesario */
   filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.8));   
   transition:1.5s;
   display: block;  
   border-radius:2rem; 
}
   
.about-icon1-img:hover{
   transform:scale(1.2);
   z-index:2;
} 

.about-icon2-img {
   width: 8.125rem; /* Ajusta el tamaño de los íconos si es necesario */
   height: 7.5rem; /* Ajusta el tamaño de los íconos si es necesario */
   filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.8));
   transition:1.5s;
   display: block;  
   border-radius:2rem;
}
   
.about-icon2-img:hover{
   transform:scale(1.2);
   z-index:2;
}

.about-icon3-img {
   width: 8.75rem; /* Ajusta el tamaño de los íconos si es necesario */
   height: 7.5rem; /* Ajusta el tamaño de los íconos si es necesario */
   filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.8));
   transition:1.5s;
   display: block;  
   border-radius:2rem;
}
   
.about-icon3-img:hover{
   transform:scale(1.2);
   z-index:2;
}

.about-icon4-img {
   width: 7.5rem; /* Ajusta el tamaño de los íconos si es necesario */
   height: 7.5rem; /* Ajusta el tamaño de los íconos si es necesario */
   filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.8));
   transition:1.5s;
   display: block;  
   border-radius:2rem;
}
   
.about-icon4-img:hover{
   transform:scale(1.2);
   z-index:2;
}

.about__subtitle{
   font-size: var(--h3-font-size);
   margin-bottom: var(--mb-1-5);
   margin-top: var(--mb-1-5);
   font-weight: var(--font-medium);
   text-align: center;

   display: grid;
   grid-template-rows: auto auto; /* Define dos filas */
   row-gap: 0.1rem; /* Espaciado entre las filas */
}

.about__subdescripcion {
   text-align: center;
   margin-bottom: var(--mb-2-5);
   font-size: var(--normal-font-size);
   font-weight: var(--font-bold);
   margin-top: var(--mb-1-5);
   
}

/*====================TEAM===================*/
.team__title {
   font-size: var(--big-font-size);
   font-weight: var(--font-extra-bold);
   text-align: center;
 }
 
 .team__subtitle {
   display: block;
   font-size: var(--h2-font-size);
   margin-bottom: var(--mb-3);
   font-weight: var(--font-semi-bold);
   text-align: center;
 }
 
 .team__container {   
   flex-direction: column;
   align-items: center;
   gap: 2rem;

 }

 .team__card {
   position: relative;
   display: flex;
   justify-self: center;
   align-items: center;    
 }

 .team__card:hover .overlay {
   height: 100%;
   opacity: 1; /* Visible cuando se hace hover */
   
 }
 .team__card:hover .team__img {
   filter: opacity(0.5); /* Opacidad mínima de la imagen cuando se hace clic */
 }

.team__img {
   /* width: 220px;
   border-radius: 2.5rem;
   justify-self: center;
   align-content: center; */
   
   width: 100%; /* Ajusta el ancho para que llene el contenedor */
  border-radius: 2rem 2rem 0 0;
  display: block; /* Elimina el espacio en blanco debajo de la imagen */
  cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
  transition: filter  0.7s ease; /* Transición suave para la opacidad */
 }
 .overlay:active {
   opacity: 0.5; /* Opacidad mínima cuando se hace clic */
 }

.overlay {
   position: absolute;
   bottom: 0;   
   /* background-color: #a6afb87b; */
   /* background-color: rgba(166, 175, 184, 0.5); */
   background-color:rgb(217 217 217 / 50%);
   overflow: hidden;
   width: 100%;
   height: 0;
   transition: height 0.5s ease, opacity 0.3s ease;
   display: flex; /* Añadido para centrar el contenido */
   align-items: center; /* Añadido para centrar el contenido verticalmente */
   justify-content: center; /* Añadido para centrar el contenido horizontalmente */
   opacity: 0; /* Inicialmente oculto */
 }

 
 
 .team__container:hover .overlay {
   height: 50%;
   width: 100%;
   justify-self: center;
   align-content: center; 
   border-radius: 2rem 2rem 0 0;
   display: flex; /* Elimina el espacio en blanco debajo de la imagen */
 }
 
 
 .overlay__text {
   text-align: center;
   color: #141d25;
   padding: 1.5rem;
 }
 
 .overlay__text-h2{
   margin: 0;
   font-size: var(--normal-font-size);
   color: #141d25;
   font-weight: var(--font-bold);
 }
 .overlay__text-h3 {
   margin: 0;
   font-size: var(--normal-font-size);
   color: #141d25;
   font-weight: var(--font-bold);
 }
 
 .overlay__text h3 {
   font-size: 2rem;
 }
 
 .overlay__text a {
   color: #FFF;
   font-size: var(--h3-font-size);
   margin: 0 0.5rem; /* Añadido para espacio entre íconos */
   transition: color 0.3s ease; /* Transición suave para hover */
 }
 
 .overlay__text a:hover {
   color: #cfd0d1; /* Cambia el color de los íconos en hover */
 }
 
 .social__networks {
   display: flex;
   gap: 1rem;
   justify-content: center;
   margin-top: 0.75rem;
 }
 
 .social__networks-icon-img {
   width: 1.875rem;
   height: 1.875rem;
   display: block;
   border-radius: 0.5rem;
   filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.8));
 }
 
 /* .overlay{
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: #2C3E50;
   overflow: hidden;
   width: 100%;
   height: 0;
   transition: 0.5s ease;
 }
 .team__img:hover .overlay {
   height: 100%;
 }
 
 .overlay__text{
   position: absolute;
   width: 100%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: #FFF;
 }

 .overlay__text h3{
   font-size: 2rem;
   color: #FFF;
 }
 .overlay__text i{
   color: #FFF;
   font-size: 20px;
 }

 .overlay__text a{
   color: #FFF;
   font-size: 20px;
 }

 .overlay__text a:hover{
   background-color: #FFF;
 }

 .overlay__text a{
   color: #000;
   
 }

 .social__networks {
   display: flex; 
   gap: 2rem;
   justify-content: flex-start; 
   margin-bottom: var(--mb-2-5);
   background-color: transparent;
   flex-wrap: wrap; 
}
.social__networks-icon {
   font-size: 2.25rem;
   
   background-color: rgba(44, 62, 80, 0); 
}
.social__networks-icon-img{
   width: 40px; 
   height: 40px; 
   display: block;
   border-radius: 0.5rem;
   filter: drop-shadow( 0 10px 5px rgba(0, 0, 0, 0.8));
} */
  

 .team__description {
   text-align: center;
   margin-bottom: var(--mb-2-5);
   color: var(--title-color);
 }
 
 .team__info {
   display: flex;
   justify-content: space-evenly;
   margin-bottom: var(--mb-2-5);
 }
 
 .team__info-title {
   font-size: var(--h2-font-size);
   font-weight: var(--font-semi-bold);
   color: var(--title-color);
 }
 
 .team__info-name {
   font-size: var(--smaller-font-size);
 }
 
 .team__info-title,
 .team__info-name {
   /* display: block;
   text-align: center; */
 
   display: block;
   text-align: center;
   padding: 0 0.35rem;
 }
 
 .team__buttons {
   display: flex;
   justify-content: center;
 }
 
 

/*==================== SERVICES ====================*/

.services__container{
   display: grid;
   gap: 1rem;
   grid-template-columns: repeat(2, 1fr);
   justify-items: center; 
}

.services__content{
   position: relative;   
   padding: 1rem .5rem 1rem .5rem;
   border-radius: .25rem;
   text-align: center;
   transition: .3s;
}

.services__content:hover{
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
   
}

.services__icon{
   display: flex;
   font-size: 1.5rem;
   color: var(--first-color);
   margin-bottom: var(--mb-1);
   justify-content: center;
}
.services1-icon-img {
   width: 5.625rem; /* Ajusta el tamaño de los íconos si es necesario */
   height: 7.5rem; /* Ajusta el tamaño de los íconos si es necesario */  
   /* display: block;   
   transition: transform 1s ease;*/
   animation: icon1 5s infinite; 
   /* animation: icon1 2s ease-in-out infinite alternate; */

   
}

@keyframes icon1 {
   0%{
      transform: rotate(15deg);
   }
   
   25%{
      transform: rotate(0deg);
   }
   50%{
      transform: rotate(-15deg);
   }
   75%{
      transform: rotate(0deg);
   }
   100%{
      transform: rotate(15deg);
   }
   
}

/* .services1-icon-img:hover {  
   transform: rotate(30deg) translateZ(0);
} */

.services2-icon-img {
   width: 5.625rem; /* Ajusta el tamaño de los íconos si es necesario */
   height: 7.5rem; /* Ajusta el tamaño de los íconos si es necesario */
   /* display: block;  
   transition: transform 1s ease; */
   animation: icon2 5s infinite; 
   /* animation: icon1 2s ease-in-out infinite alternate; */   
}

@keyframes icon2 {
   0%{
      transform: rotate(15deg);
   }
   
   25%{
      transform: rotate(0deg);
   }
   50%{
      transform: rotate(-15deg);
   }
   75%{
      transform: rotate(0deg);
   }
   100%{
      transform: rotate(15deg);
   }   
}

/* .services2-icon-img:hover {  
   transform: rotate(-30deg);
} */

.services3-icon-img {
   width: 8.75rem; /* Ajusta el tamaño de los íconos si es necesario */
   height: 7.5rem; /* Ajusta el tamaño de los íconos si es necesario */
   /* display: block;   
   transition: transform 1s ease;*/
   animation: icon3 5s infinite; 
   /* animation: icon1 2s ease-in-out infinite alternate; */
   
}

@keyframes icon3 {
   0%{
      transform: rotate(15deg);
   }
   
   25%{
      transform: rotate(0deg);
   }
   50%{
      transform: rotate(-15deg);
   }
   75%{
      transform: rotate(0deg);
   }
   100%{
      transform: rotate(15deg);
   }   
}

/* .services3-icon-img:hover {  
   transform: rotate(30deg);
} */

.services4-icon-img {
   width: 5.938rem; /* Ajusta el tamaño de los íconos si es necesario */
   height: 7.5rem; /* Ajusta el tamaño de los íconos si es necesario */
   /* display: block;   
   transition: transform 1s ease;*/
   animation: icon4 5s infinite; 
   /* animation: icon1 2s ease-in-out infinite alternate; */
   
}
@keyframes icon4 {
   0%{
      transform: rotate(15deg);
   }
   
   25%{
      transform: rotate(0deg);
   }
   50%{
      transform: rotate(-15deg);
   }
   75%{
      transform: rotate(0deg);
   }
   100%{
      transform: rotate(15deg);
   }   
}

/* .services4-icon-img:hover {  
   transform: rotate(-30deg);
} */
.services5-icon-img {
   width: 6.875rem; /* Ajusta el tamaño de los íconos si es necesario */
   height: 7.5rem; /* Ajusta el tamaño de los íconos si es necesario */
   /* display: block;   
   transition: transform 1s ease;*/
   animation: icon5 5s infinite; 
   /* animation: icon1 2s ease-in-out infinite alternate; */
   
}
@keyframes icon5 {
   0%{
      transform: rotate(15deg);
   }
   
   25%{
      transform: rotate(0deg);
   }
   50%{
      transform: rotate(-15deg);
   }
   75%{
      transform: rotate(0deg);
   }
   100%{
      transform: rotate(15deg);
   }   
}

/* .services5-icon-img:hover {  
   transform: rotate(30deg);
} */
.services6-icon-img {
   width: 7.5rem; /* Ajusta el tamaño de los íconos si es necesario */
   height: 7.5rem; /* Ajusta el tamaño de los íconos si es necesario */
   /* display: block;   
   transition: transform 1s ease;*/
   animation: icon6 5s infinite; 
   /* animation: icon1 2s ease-in-out infinite alternate; */
   
}
@keyframes icon6 {
   0%{
      transform: rotate(15deg);
   }
   
   25%{
      transform: rotate(0deg);
   }
   50%{
      transform: rotate(-15deg);
   }
   75%{
      transform: rotate(0deg);
   }
   100%{
      transform: rotate(15deg);
   }   
}

/* .services6-icon-img:hover {  
   transform: rotate(-30deg);
} */
.services7-icon-img {
   width: 6.25rem; /* Ajusta el tamaño de los íconos si es necesario */
   height: 7.5rem; /* Ajusta el tamaño de los íconos si es necesario */
   /* display: block;   
   transition: transform 1s ease;*/
   animation: icon7 5s infinite; 
   /* animation: icon1 2s ease-in-out infinite alternate; */
   
}
@keyframes icon7 {
   0%{
      transform: rotate(15deg);
   }
   
   25%{
      transform: rotate(0deg);
   }
   50%{
      transform: rotate(-15deg);
   }
   75%{
      transform: rotate(0deg);
   }
   100%{
      transform: rotate(15deg);
   }   
}

/* .services7-icon-img:hover {  
   transform: rotate(30deg);
} */
.services8-icon-img {
   width: 6.25rem; /* Ajusta el tamaño de los íconos si es necesario */
   height: 8.75rem; /* Ajusta el tamaño de los íconos si es necesario */
   /* display: block;   
   transition: transform 1s ease;*/
   animation: icon8 5s infinite; 
   /* animation: icon1 2s ease-in-out infinite alternate; */
   
}
@keyframes icon8 {
   0%{
      transform: rotate(15deg);
   }
   
   25%{
      transform: rotate(0deg);
   }
   50%{
      transform: rotate(-15deg);
   }
   75%{
      transform: rotate(0deg);
   }
   100%{
      transform: rotate(15deg);
   }   
}

/* .services8-icon-img:hover {  
   transform: rotate(-30deg);
} */

.services__title{
   font-size: var(--h3-font-size);
   margin-bottom: var(--mb-1-5);
   margin-top: var(--mb-1-5);
   font-weight: var(--font-medium);
   text-align: center;

   /* display: grid;
   grid-template-rows: auto auto; 
   row-gap: 0.1rem;  */
}

.services__description {
   text-align: center;
   margin-bottom: var(--mb-1);
   font-size: var(--h3-font-size);
   font-weight: var(--font-semi-bold);
   margin-top: var(--mb-1-5);
   
}
.grid-line {
   display: block;
}

.services__button{
   cursor: pointer;
   font-size: var(--small-font-size);
}

.services__button:hover .button__icon{
   transform: translateX(.25rem)
}

.services__modal{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0, 0, 0, 0.5);
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 1rem;
   z-index: var(--z-modal);
   opacity: 0;
   visibility: hidden;
   transition: .3s;
}

.services__modal-content{
   position: relative;
   background-color: var(--container-color);
   padding: 1.5rem;
   border-radius: .5rem;
}

.services__modal-services{
   row-gap: 1rem;
}

.services__modal-service{
   display: flex;
}

.services__modal-title{
   font-size: var(--h3-font-size);
   font-weight: var(--font-medium);
   margin-bottom: var(--mb-1-5);
}

.services__modal-close{
   position: absolute;
   top: 1rem;
   right: 1rem;
   font-size: 1.5rem;
   color: var(--first-color);
   cursor: pointer;
}

.services__modal-icon{
   color: var(--first-color);
   margin-right: var(--mb-0-25);
}

/* Active Modal */
.active-modal{
   opacity: 1;
   visibility: visible;
}




/*==================== MAP ====================*/

.map__container {
   gap: 1rem;
}

.map__content {
   /* grid-template-columns: 0.5fr 3fr; */
   padding-top: 1.5rem;
   align-items: center;
}

.map__social {
   display: flex; /* Cambia de inline-flex a flex */
   
   gap: 1rem; /* Espacio entre iconos y texto */
   align-items: center; /* Alinea verticalmente los íconos y el texto */
   
   justify-content: flex-start; /* Alinea los íconos a la izquierda */
   margin-bottom: var(--mb-2-5);
   background-color: transparent;
   /* flex-wrap: wrap; Permite que los íconos se envuelvan en pantallas pequeñas  */
}



.map__social-icon {
   font-size: 2.25rem;
   flex: 0 0 auto;
   background-color: rgba(44, 62, 80, 0); 
}

.map__social-icon:hover {
   color: var(--first-color-alt);
}

.map__blob {
   width: 12.5rem;
   fill: var(--first-color);
}

.map__img {
   width: 20rem;
   border-radius: 0.5rem;
   justify-self: center;
   align-self: center;
   margin: 0 auto;
   background-color: transparent;
}

.map__data {     
   display: flex;
   flex-direction: column; /* Mantiene los elementos en columna por defecto */
   gap: 1rem; /* Espacio entre elementos */
   
} 

.map__header {
   display: flex;
   align-items: center; /* Alinea el rectángulo y el texto verticalmente */
   padding-top: 1rem;
}

.map__icon {
   width: 0.25rem; /* Ajusta el tamaño del rectángulo según sea necesario */
   height: 1.875rem; /* Ajusta el tamaño del rectángulo según sea necesario */
   background-color: #2c3e50; /* Color de fondo del rectángulo */   
   margin-right: 0.75rem; /* Espacio entre el rectángulo y el texto */
   
}

.map__span{
   
   font-size: var(--normal-font-size);
   color: var(--title-color);
   font-weight: var(--font-bold);
   
}

.map__actions {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1rem;
}


.map__title {
   font-size: var(--big-font-size);
   font-weight: var(--font-black);
   margin-top: 2rem;
}

.map__subtitle {
   font-size: var(--h1-font-size);
   color: var(--title-color);
   font-weight: var(--font-extra-bold);
   margin-bottom: var(--mb-0-75);
   
}

.map__description-first {
   font-size: var(--h3-font-size);
   font-weight: var(--font-semi-bold);
   margin-top: var(--mb-1-5);   
   overflow-wrap: break-word; /* Rompe las palabras largas para evitar el desbordamiento */   
}

.map__description-second {   
   font-size: var(--h3-font-size);
   font-weight: var(--font-semi-bold);    
   overflow-wrap: break-word; /* Rompe las palabras largas para evitar el desbordamiento */   
}

.map__description-third{
   margin-bottom: var(--mb-2-5);
   font-size: var(--h3-font-size);
   font-weight: var(--font-semi-bold);    
   overflow-wrap: break-word; /* Rompe las palabras largas para evitar el desbordamiento */   
}

.map__description {
   font-size: var(--normal-font-size);
   font-weight: var(--font-semi-bold);
   margin-top: var(--mb-1-5);   
   overflow-wrap: break-word; /* Rompe las palabras largas para evitar el desbordamiento */   
}

.map__description__footer {
   margin-bottom: var(--mb-0-75);
   font-size: var(--h3-font-size);
   font-weight: var(--font-bold);
   margin-top: var(--mb-0-75);
   text-align: center;
   
}

.map__social-icon-img {
   width: 2.5rem; /* Ajusta el tamaño según tus necesidades */
   height: 2.5rem; /* Ajusta el tamaño según tus necesidades */
   display: block;
   border-radius: 0.5rem;
   filter: drop-shadow( 0 10px 5px rgba(0, 0, 0, 0.8));

   
}

.map__scroll {
   display: none; 
}

.map__scroll-button {
   color: var(--first-color);
   transition: 0.3s;
}

.map__scroll-button:hover {
   transform: translateY(0.25rem);
}

.home__scroll-mouse {
   font-size: 2rem;
}

.map__scroll-name {
   font-size: var(--small-font-size);
   color: var(--title-color);
   font-weight: var(--font-medium);
   margin-right: var(--mb-0-25);
}

.map__scroll-arrow {
   font-size: 1.25rem;
}

/*==================== OPINION ====================*/
.opinion__title {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: var(--big-font-size);
   font-weight: var(--font-black);
   margin-top: 3rem;   
   text-align: center;
   
}

/* .opinion__title::after {
   content: "clientes";
   display: flex;
   margin-top: 5px; 
   font-size: var(--big-font-size);
   font-weight: var(--font-black);     
   
} */

.opinion__subtitle {
   display: block; /* Coloca el texto en una línea separada */
   align-items: center;
   font-size: var(--big-font-size);
   font-weight: var(--font-black);
    
   text-align: center;
}

/*==================== FOOTER ====================*/
.footer {
   /* background-color: var(--first-color); */
   /* background-color:#435f7b;
   color: #FFF;
   padding-top: 4rem;
   padding-bottom: 2.5rem; */
   padding-top: 4rem;
}

.footer__bg {
   /* background-color: var(--first-color-second); */
   background-color:#435f7b;
   color: #FFF;
   padding: 2rem 0 3rem;
 }

.footer__container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(3, 1fr));

}

.footer__logo {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.footer__logo-container {
   display: flex;
   align-items: center; /* Mantiene el h3 alineado verticalmente con la imagen */
}
.footer__logo-container h3 {
   color: #FFF;
   font-size: var(--h3-font-size);
   font-weight: var(--font-bold);
    display: flex;
   text-align: left;/* Mantiene el h3 alineado verticalmente con la imagen */
}

.footer__logo-img {
   width: 3.125rem; /* Ajusta el tamaño de la imagen según sea necesario */
   height: auto;
   margin-right: 0.625rem; /* Espacio entre la imagen y el h3 */
}

.footer__logo span {
   font-size: 0.875rem; /* Ajusta el tamaño de la fuente según sea necesario */
   display: flex;
   text-align: right;
   margin-top: 1.25rem;
   margin-right: 0.5rem;
   font-size: var(--normal-font-size);
   color: #FFF;
   font-weight: var(--font-semi-bold);
}

.footer__menu-title {
   color: #FFF;
   font-weight: var(--font-semi-bold);
   font-size: var(--h3-font-size);
   margin-top: 1.85rem;
   margin-bottom: 1rem;
   margin-left:1.75rem;
   
}



.footer__contact-title {
   color: #FFF;
   font-weight: var(--font-semi-bold);
   font-size: var(--h3-font-size);
   margin-top: 1.85rem;
   margin-bottom: 1rem;
   
}

.footer__list {
   padding: 0;
   margin: 0;   
   text-align: left;
   margin-left:1.75rem;
}

.footer__list li {
   margin-bottom: 0.5rem;
}

.footer__list li a {
   text-decoration: none;
   
   font-size: 1rem;
   font-size: var(--small-font-size);
   color: #FFF;
   font-weight: var(--font-semi-bold);
}



.footer__hours {
    margin-bottom: var(--mb-2);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    margin-top: var(--mb-2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;   
    overflow-wrap: break-word;
}

.footer__hours-icon-img {
   width: 1.875rem; /* Ajusta el tamaño según tus necesidades */
   height: 1.875rem; /* Ajusta el tamaño según tus necesidades */
   margin-left: 1.5rem;
   display: block;
   border-radius: 0.5rem;
   filter: drop-shadow( 0 10px 5px rgba(0, 0, 0, 0.8));  
  }

.footer__contact-list {
   list-style: none;
   padding: 0;
   margin: 0;
   font-size: 1rem;
   
}

.footer__contact-list li {
   margin-bottom: 1.5rem;
   display: flex;
   align-items: center;
   gap: 1rem; /* Agrega espacio entre el icono y el texto */
   font-size: var(--small-font-size);
   color: #FFF;
   font-weight: var(--font-semi-bold);
}

.footer__contact-list i {
   font-size: 1.2rem;
   display: flex; /* Asegura que el icono y la imagen se alineen horizontalmente */
   align-items: center; /* Centra verticalmente el contenido del ícono */
 
}

.footer__social-icon-img {
   width: 1.875rem; /* Ajusta el tamaño según tus necesidades */
   height: 1.875rem; /* Ajusta el tamaño según tus necesidades */
   display: block;
   border-radius: 0.5rem;
   filter: drop-shadow( 0 10px 5px rgba(0, 0, 0, 0.8));
}

.footer__bottom {   
   text-align: center;
   font-size: var(--normal-font-size);
   color: #FFF;
   font-weight: var(--font-semi-bold);
   padding: 1rem 0;
   margin-top: 2rem;
   margin-left: 1.5rem;
   margin-right: 1.5rem;
}

/*========== SCROLL UP ==========*/
.scrollup {
   position: fixed;
   right: 1.75rem;
    
   background-color: var(--first-color);
   opacity: 0.8; 
   padding-top: 0.5rem;
   padding-right: 0.5rem;
   padding-bottom: 0.5rem;
   padding-left: 0.5rem;   
   border-radius: 0.5rem;
   z-index: var(--z-tooltip);
   transition: 0.4s;
 }
 
 .scrollup:hover {
   border-color: var(--first-color-alt);
 }
 
 .scrollup__icon {
   font-size: 1.75rem;
   color: #fff; 
 }
 
 /* Show scroll */
 .show-scroll {
   bottom: 5rem;
 }


/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
   width: 0.6rem;
   background-color: var(--scroll-bar-color);
   border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb{
   background-color: var(--scroll-thumb-color);
   border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover{
   background-color: var(--text-color-light);
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px){
     

   
   .container{
      margin-left: var(--mb-1);
      margin-right: var(--mb-1);
   }

   .nav__menu{
      padding: 2rem 0.25rem 4rem;
   }

   .nav__list{
      column-gap: 0;
   }

   .about__container{
      gap: 1.75rem;
     
      margin-top: 2.5rem;
      margin-bottom: 1rem;
   }

   .about-icon-img {
      width: 6.875rem; /* Ajusta el tamaño de los íconos si es necesario */
      height: 5rem; /* Ajusta el tamaño de los íconos si es necesario */ 
   }

   .home__content{
      grid-template-columns: .25fr 3fr;
   }
   .home__img{
      width: 11.25rem;
   }

   .home__social {
      gap: 1rem; /* Reduce el espacio entre íconos si es necesario */
   }
   
   .home__social-icon-img {
      width: 1.875rem; /* Ajusta el tamaño de los íconos si es necesario */
      height: 1.875rem; /* Ajusta el tamaño de los íconos si es necesario */
   }

   .skills__title{
      font-size: var(--normal-font-size);
   }

   .qualification__data{
      gap: 0.5rem;
   }

   .services__container{
      grid-template-columns: 1fr;
      justify-items: center;
   }

   .services__content{
      padding-right: 3.5rem;
   }

   .services__modal{
      padding: 0 0.5rem ;
   }

   .map__content{
      grid-template-columns: 0.25fr 3fr;
   }
   .map__img{
      width: 11.25rem;
   }

   .map__social {
      gap: 1rem; /* Reduce el espacio entre íconos si es necesario */
   }
   
   .map__social-icon-img {
      width: 1.875rem; /* Ajusta el tamaño de los íconos si es necesario */
      height: 1.875rem; /* Ajusta el tamaño de los íconos si es necesario */
   }
   .services-icon-img {
      width: 6.875rem; /* Ajusta el tamaño de los íconos si es necesario */
      height: 5rem; /* Ajusta el tamaño de los íconos si es necesario */
   }

   .project__img{
      width: 12.5rem;
   }

   .testimonial__data,
   .testimonial__header{
      flex-direction: column;
      align-items: center;
   }

   .testimonial__img{
      margin-right: 0;
      margin-bottom: var(--mb-0-25);
   }

   .testimonial__data,
   .testimonial__description{
      text-align: center;
   }

   .footer__container{
      grid-template-columns: repeat(2, 1fr);
   }

  .footer__list,
  .footer__contact-list {
      text-align: center;
  }

  .footer__hours {
   margin-left: 0;
   justify-content: center;
}

  .footer__logo-container {
      flex-direction: column;
  }

  .footer__logo-img {
      margin-right: 0;
      margin-bottom: 0.5rem;
  }

}


/* For medium devices */
@media screen and (min-width: 586px){

   


   .home__content{
      grid-template-columns: repeat(2, 1fr);
   }

   .home__data{
      grid-column: initial;
   }

   .home__img{
      order: 1;
      justify-self: center;
   }

   .home__social {
      gap: 1.5rem; /* Ajusta el espacio entre íconos */
   }
   
   .home__social-icon-img {
      width: 2.188rem; /* Ajusta el tamaño de los íconos si es necesario */
      height: 2.188rem; /* Ajusta el tamaño de los íconos si es necesario */
   }

   
   .about__container{
      gap: 1.75rem;
      margin-top: 2.5rem;
      margin-bottom: 1rem;
      margin-left: 7rem;
      margin-right: 7rem;
   }

   .about-icon-img {
      width: 6.875rem; /* Ajusta el tamaño de los íconos si es necesario */
      height: 5rem; /* Ajusta el tamaño de los íconos si es necesario */
   }

   .team__img {
      width: 17.5rem;
     

   }

   
   .map__content{
      grid-template-columns: repeat(2, 1fr);
   }

   

  .map__social {
      display: flex;
      flex-direction: row; 
      gap: 1rem; 
      margin-bottom: 1rem;    
      align-items: center;   
      flex-direction: row; /* Los íconos y el texto se apilan verticalmente */
        gap: 0.5rem; /* Reduce el espacio entre íconos y texto */
  }

    .map__data{
      grid-column: initial;
      display: flex;
      flex-direction: column; 
      gap: 1rem; 

   }   

   .map__img{
      /* order: 1; */
      justify-self: center;
   }
   
   
   .map__social-icon-img {
      width: 2.188rem; /* Ajusta el tamaño de los íconos si es necesario */
      height: 2.188rem; /* Ajusta el tamaño de los íconos si es necesario */
   }

   .services-icon-img {
      width: 6.875rem; /* Ajusta el tamaño de los íconos si es necesario */
      height: 5rem; /* Ajusta el tamaño de los íconos si es necesario */
   }

   .team__container,
   .about__container__header,
   .skills__container,
   .portfolio__content,
   .project__container,
   .contact__container{
      grid-template-columns: repeat(2, 1fr);
      
  }
  .footer__container{
   grid-template-columns: repeat(3, 1fr);
   
}

   .qualification__sections{
      display: grid;
      grid-template-columns: .6fr;
      justify-content: center;
   }

   

   .footer__hours {
      margin-left: 0;
      justify-content: center;
  }

  .footer__logo-container {
      flex-direction: row;
  }

  .footer__logo-img {
      margin-right: 1rem;
      margin-bottom: 0;
  }
  .footer__logo span {   
   margin-left: 0.45rem;
   }
}


@media screen and (min-width: 768px){
   .container{
      margin-left: auto;
      margin-right: auto;
   }

   body{
      margin: 0;
   }

   .home__section{
      padding: 6rem 0 2rem;
   }
   .about__section{
      padding: 6rem 0 2rem;
   }
   
   .services__section{
      padding: 6rem 0 2rem;
   }
   
   .map__section{
      padding: 6rem 0 2rem;
   }
   
   .opinion__section{
      padding: 6rem 0 2.5rem;
   }

  

   /* .section{
      padding: 6rem 0 2rem;
   } */

   .section__subtitle{
      margin-bottom: 4rem;
   }

   .header{
      top: 0;
      bottom: initial;
   }

   .header,
   .main,
   .footer__container{
      padding: 0 1rem;
   }

   .nav{
      height: calc(var(--header-height) + 2rem);
      column-gap: 0.5rem;
   }

   .nav__icon,
   .nav__close,
   .nav__toggle{
      display: none;
   }

   .nav__list{
      display: flex;
      column-gap: 2rem;
   }

   .nav__menu{
      margin-left: auto;
   }

   .change-theme{
      margin: 0;
   }

   .home__container{
      row-gap: 1rem;
   }

   .home__content{
      
      column-gap: 1rem;
   }

   .home__img{
      width: 25rem;
   }

   .home__social {
      gap: 2rem; /* Ajusta el espacio entre íconos */
   }
   
   .home__social-icon-img {
      width: 2.813rem; /* Ajusta el tamaño de los íconos si es necesario 2.813rem=45px o 2.5rem=40px*/
      height: 2.813rem; /* Ajusta el tamaño de los íconos si es necesario 2.813rem=45px o 2.5rem=40px*/
   }

   .home__scroll{
      display: block;
   }

   .home__scroll-button{
      margin-left: 3rem;
   }

   .about__container{
      gap: 1.75rem;
      grid-template-columns: repeat(4,1fr);
      margin-top: 2rem; 
      margin-bottom: 2rem;
   }

   .about__img{
      width: 17.5rem;
   }

   .about__description{
      text-align: initial;
   }

   .about__info{
      justify-content: space-between;
   }

   .about__buttons{
      justify-content: initial;
   }

   .about__icon{
      font-size: 2rem;
      justify-content: center;
      background-color: transparent;
      
   }
   .about-icon-img {
      width: 6.875rem; /* Ajusta el tamaño de los íconos si es necesario */
      height: 5rem; /* Ajusta el tamaño de los íconos si es necesario */
      display: block;
      border-radius: 0.5rem;
      filter: drop-shadow( 0 10px 5px rgba(0, 0, 0, 0.8));
  }
  .team__img {
   width: 17.5rem;
  

}

   .team__container {
      column-gap: 2rem;
      /* column-gap: 3rem; */
   }
   
   .team__description {
      text-align: initial;
      /* text-align: justify; */
      font-size: var(--normal-font-size);
      font-weight: var(--font-semi-bold);
      
   }
   .team__info {
      /* justify-content: space-between; */

      justify-content: space-evenly;
      text-align: right;
      display: flex;
      margin-bottom: var(--mb-2-5);
     
   }
   .team__buttons {
      justify-content: initial;
   }
   .services__description{
      text-align: center;
   }

   .services__container{
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;
   }
   /* Ajustar el tamaño de los ítems cuando haya menos de 4 en una fila */
   .services__container > :nth-last-child(-n+3) {
      grid-column: span 1; /* Cada ítem ocupa una columna */
  }

  .services__container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.services__content {
   margin: 0.5rem;
   flex: 0 0 calc(25% - 1rem); /* Ajusta el tamaño para 4 columnas */
}
   
   .services__icon{
      font-size: 2rem;
      justify-content: center;
      background-color: transparent;
      
   }
   .services-icon-img {
      width: 6.875rem; /* Ajusta el tamaño de los íconos si es necesario */
      height: 5rem; /* Ajusta el tamaño de los íconos si es necesario */
      display: block;
      border-radius: 0.5rem;
      filter: drop-shadow( 0 10px 5px rgba(0, 0, 0, 0.8));
  }

   

   .services__modal-content{
      width: 28.125rem;
   }

   .map__container{
      row-gap: 1rem;
   }

   .map__content{
      
      column-gap: 1rem;
   }

   .map__data{
      grid-column: initial;
      display: flex;
   flex-direction: column;  
   gap: 1rem; 
   
   }  
   .map__img{
      width: 20rem;
   }

   .map__social {
      gap: 1rem; /* Ajusta el espacio entre íconos */
      margin-bottom: 1.5rem;      
      align-items: center;
   }
   
   .map__social-icon-img {
      width: 2.5rem; /* Ajusta el tamaño de los íconos si es necesario */
      height: 2.5rem; /* Ajusta el tamaño de los íconos si es necesario */
   }
   .services-icon-img {
      width: 6.875rem; /* Ajusta el tamaño de los íconos si es necesario */
      height: 5rem; /* Ajusta el tamaño de los íconos si es necesario */
   }

   .project__img{
      width: 20rem;
   }
   
   .portfolio__content{
      align-items: center;
   }

   .project{
      text-align: initial;
   }

   .project__bg{
      background: none;
   }

   .project__container{
      background-color: var(--first-color-second);
      border-radius: 1rem;
      padding: 3rem 2.5rem 0;
      grid-template-columns: 1fr max-content;
      column-gap: 3rem;
   }

   .project__data{
      padding-top: 0.8rem;
   }

   .footer__container {
      grid-template-columns: repeat(3, 1fr);
    
  }

  .footer__hours {
      margin-left: 0;
      justify-content: center;
  }
  .footer__logo span {   
   margin-left: 0.5rem;
   }
}

/* For large devices */
@media screen and (min-width: 1024px){
   .header,
   .main,
   .footer__container{
      padding:0;
   }

   .home__img{
      width: 20rem;
   }

   .home__social{
      display:inline-flex;
      
   }

   .map__img{
      width: 20rem;
   }

   .map__social{
      /* grid-auto-flow: column; */
      gap: 1rem;
      align-items: center;
      
   }

   .services__container{
      grid-template-columns: repeat(4, 1fr);
   }

   .portfolio__content{
      column-gap: 5rem;
   }

   .swiper-portfolio-icon{
      font-size: 3.5rem;
   }

   .swiper-button-prev{
      left: -3.5rem
   }

   .swiper-button-next{
      right: -3.5rem
   }

   .portfolio__container > .swiper-pagination{ 
      bottom: -4.5rem;
   }

   .contact__form{
      width: 28.75rem;
   }

   .contact__inputs{
      grid-template-columns: repeat(2, 1fr);
   }

   .footer__container {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
  }

  .footer__hours {
   justify-content: center;
  }
  .footer__logo span {   
   margin-left: 4.25rem;
}
}
